body{
    background-color: #333;
    text-align: center;
}
.titule{
    background-color: #fff;
    padding: 20px;
}
.bio{
    background-color: #fff;
    padding: 20px;
}
.sodo{
    width: 50%;
    height: auto;
    margin: 20px;
}
.vi{
    margin: 20px;
    width: 50%;
    height: auto;
}